
<!-- logo and theme switch -->
<section class="top-section">
  <!-- dictionary logo -->
   <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="38" viewBox="0 0 34 38"><g fill="none" fill-rule="evenodd" stroke="#838383" stroke-linecap="round" stroke-width="1.5"><path d="M1 33V5a4 4 0 0 1 4-4h26.8A1.2 1.2 0 0 1 33 2.2v26.228M5 29h28M5 37h28"/><path stroke-linejoin="round" d="M5 37a4 4 0 1 1 0-8"/><path d="M11 9h12"/></g></svg>
   </div>

  <!-- word and theme toggle -->
   <div>
    <!-- font type -->
     <section class="font-type">
      <p>sans-serif</p>
      <div>
        <img src="../assets/images/icon-arrow-down.svg" alt="down arrow svg icon">
      </div>
     </section>

     <!-- theme toggle switch -->
      <label class="theme-toggle-switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
     
   </div>

</section>

<!-- search input -->
<section class="search-input">
  <input type="text" name="search" placeholder="search" [value]="''">
  <img src="../assets/images/icon-search.svg" alt="magnifier svg icon for search input">
</section>

<!-- main dictionary content -->
<!-- searched work / displayed word -->
<section class="searched-word">
  <div class="word_phonics">
    <p class="word">
      keyboard
    </p>
    <p class="phonics">
      /ˈkiːbɔːd/
    </p>
  </div>
  <button class="sound">
    <img src="../assets/images/icon-play.svg" alt="play search word svg icon">
  </button>
</section>

<!-- part_of_speech -->
<section class="pos_meaning">
  <section class="part_of_speech">
    <p>noun</p>
    <hr>
  </section>
  
  <section class="meaning">
    <p>Meaning</p>
    <ul>
      <li>
        (etc.) A set of keys used to operate a typewriter, computer etc.
      </li>
      <li>
        A component of many instruments including the piano, organ, and harpsichord consisting of usually black and white keys that cause different tones to be produced when struck.
      </li>
      <li>
        A device with keys of a musical keyboard, used to control electronic sound-producing devices which may be built into or separate from the keyboard device.
      </li>
    </ul>
  </section>

</section>

<!-- synonyms -->
<section class="synonyms">
  <p>Synonyms</p>
  <div class="synonyms_words">
    <p>electronic</p>
    <p>keyboard</p>
  </div>
</section>

<section class="pos_meaning">
  <section class="part_of_speech">
    <p>verb</p>
    <hr>
  </section>

  <section class="meaning">
    <p>Meaning</p>
    <ul>
      <li>
        To type on a computer keyboard.
      </li>
    </ul>
    <div class="examples">
      <p>“Keyboarding is the part of this job I hate the most.”</p>
    </div>
  </section>
  
</section>

<hr>

<footer>
  <p>Source</p>
  <div>
    <a>https://en.wiktionary.org/wiki/keyboard</a>
    <img src="../assets/images/icon-new-window.svg" alt="new window svg icon">
  </div>
</footer>

<router-outlet />