/* You can add global styles to this file, and also import other style files */
// imports
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// general browser reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// colors
$bg-dark: #050505;
$bg-dark-variant-1: #1F1F1F;
$bg-dark-variant-2: #2D2D2D;
$bg-dark-variant-3: #3A3A3A;

$bg-gray: #757575;
$bg-gray-variant-1: #E9E9E9;
$bg-gray-variant-2: #F4F4F4;
$bg-white: #fff;
$bg-black: #000;

$bg-purple: #A445ED;
$bg-red: #FF5252;

$bg-transparent: transparent;

// font types
$font-sans-serif: "Inter", sans-serif;
$font-lora: "Lora", serif;
$font-inconsolata: "Inconsolata", monospace;
$default-font: $font-sans-serif;

// font sizes
$font-size-heading-large: 64px;
$font-size-heading-medium: 24px;
$font-size-heading-small: 20px;

$font-size-body-medium: 18px;
$font-size-body-small: 14px;

// font color
$font-color-black: #000;
$font-color-white: $bg-white;
$font-color-purple: $bg-purple;
$font-color-gray: $bg-gray;




// dark mode

$background: $bg-black;
$font-color: $font-color-white;
// $toggle-active: $bg-purple;
$toggle-active: #A445ED;
$input-field: $bg-dark-variant-1;



:root {
    // dark mode
    $background: $bg-black;
    $font-color: $font-color-white;
    // $toggle-active: $bg-purple;
    $toggle-active: #A445ED;
    $input-field: $bg-dark-variant-1;

    --background-color: #{$background};
    --text-color: #{$font-color};
    --toggle-active: #{$toggle-active}; /*further research*/
    --toggle-input-field: #{$input-field};

    --font-family: #{$font-sans-serif};
}

// light mode
[data-theme='light'] {
    $background: $bg-white;
    $font-color: $font-color-black;
    $toggle-active: $bg-gray;
    $input-field: $bg-gray-variant-2;

    --background-color: #{$background};
    --text-color: #{$font-color};
    --toggle-active: #($toggle-active); /*not working find out why */
    --toggle-active: #757575;
    --toggle-input-field: #($bg-gray-variant-2);
    --toggle-input-field: #F4F4F4;
}

body {
    width: 100%;
    height: 100%;

    padding: 1rem 0;
    // color: $font-color-white;
    color: $font-color;
    color: var(--text-color);
    // background: $bg-black;
    // background: $background;
    background: var(--background-color);

    // font-family: $font-sans-serif;
    font-family: $default-font;
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
}

app-root {
    width: min(700px, 90%);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

button,
input {
    font-family: var(--font-family);
}